* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: "Sono", sans-serif;
  font-weight: 600;
  /* text-transform: uppercase; */
  color: white;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgb(0 0 0 / 50%);
  margin-top: 15px;
}
body > img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  overflow-y: scroll;
}
section div {
  display: block;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  text-align-last: center;
}
section > div {
  padding: 100px 10px;
  position: inherit;
  bottom: 25%;
}
section div img {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 6px 1px lightblue;
}
.mainbutton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  padding: 10px;
  color: white;
  text-decoration: none;
  gap: 20px;
  border-radius: 4px;
  transition-duration: 200ms;
  margin-top: 10px;
  backdrop-filter: blur(10px);
}
.mainbutton:hover {
  background: white;
  color: #0f172a;
}
.mainbutton i {
  font-size: 1.3em;
}

::-webkit-scrollbar {
  width: 0px;
}

h3 {
  font-family: "Sono", sans-serif;
  font-weight: 600;
  /* text-transform: uppercase; */
  color: white;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgb(0 0 0 / 50%);
  margin-top: 8px;
  font-size: 105%;
}

h4 {
  font-family: "Sono", sans-serif;
  font-weight: 600;
  /* text-transform: uppercase; */
  color: lightgrey;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgb(0 0 0 / 50%);
  margin-top: 8px;
  font-size: 95%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.secondarybutton {
  float: left;
  width: 11.1%;
  padding: 5px;

  color: white;
  transition-duration: 200ms;
  font-size: 200%;
}

.also {
  position: fixed;
  bottom: 0px;
}